<body class="Home">
    @{
        ViewBag.Title = "Home Page";
    }


    <div class="row">

        <h1 class="Home">Hello and Welcome </h1>
        <p class="Home">This app will allow you to add your favorite Artist and Albums.</p>
        <p class="Home">It will also allow you to find information on Artists you may be curious about.</p>
    </div>























</body>